<form>
    <section class="directory hide-party-hp">
        <header class="directory-header flexrow">
            {{!-- <h3 class="name">{{localize "CONFIG.Actor.typeLabels['base']"}}</h3> --}}
            <span class="name">{{localize "DND5E.Group.Member.one"}}</span>
            <span class="controls">{{localize "hide-party-hp.configure-hp-dialog.showhide.label"}}</span>
        </header>
        <ol class="members-list directory-list flexcol">
            {{#each members as |member|}}
                <li class="group-member directory-item flexrow" data-actor-id="{{member.actor.id}}">
                    <div class="name flexrow">
                        <img class="thumbnail" src="{{member.actor.img}}">
                        <h4 class="document-name">{{member.actor.name}}</h4>
                    </div>
                    <div class="controls flex0">
                        <input type="checkbox" name="{{member.actor.id}}.showHp" data-dtype="Boolean" {{checked member.showHp}}>
                    </div>
                </li>
            {{/each}}
        </ol>
    </section>
    <footer>
        <button type="submit" name="submit">
            <i class="fa fa-save"></i>Save
        </button>
    </footer>
</form>